  
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pangolin&display=swap');
    

        .h3-header {
            font-family: "Nanum Gothic Coding", monospace;
            font-weight: 400;
            font-style: normal;
            text-decoration: solid;
        }

        .h3-header ul li {
            text-decoration: wavy;
        }

        body, html {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            font-weight: 600;
        }

        #particle-canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .custom-img {
            width: 50%;
            max-width: 300x;
            max-height: 450px;
            height: auto;
            opacity: 0.80;
            border: 2px solid #ccc;
            border-radius: 50%;
        }

        .find-text {
            text-align: left;
            text-decoration: underline;
            font-family: "Source Code Pro", monospace;
            font-weight: bold;

        }

        @media (min-width: 768px) {
            .custom-img {
                max-width: 400px; 
            }
        }

        #whoami {
            font-family: "Source Code Pro", monospace;
            font-weight: bolder;
        }

        #whoami p {
            text-align: left;
        }


        .puzzle-text {
            font-family: "Pangolin", cursive;
            font-weight: 400;
            font-style: normal;
            color: #333;
            letter-spacing: 1px;
            padding-bottom: 5px;
            margin-right: 20px;

        }
        
        .social-link p {
            text-align: center;
            font-size: small;
        }

        .iframe-container .iframe {
            opacity: 0.85;
        }
