<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="../index.html">
      <img src="../assets/LegendaryCat.jpg" alt="" width="30" height="24" />
      <span id="nav-portfolio">Elyazid's Portfolio</span>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarNav"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarNav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="../index.html" id="nav-home">
        <i class="fas fa-home"></i>
        Home
      </a>
      <a class="navbar-item" href="../pages/about.html" id="nav-about">
        <i class="fas fa-user"></i>
        About
      </a>
      <a class="navbar-item" href="../pages/skills.html" id="nav-skills">
        <i class="fas fa-tasks"></i>
        Skills
      </a>
      <a class="navbar-item" href="../pages/projects.html" id="nav-projects">
        <i class="fas fa-code"></i>
        Projects
      </a>
      <a class="navbar-item" href="../pages/blog.html" id="nav-blog">
        <i class="fas fa-blog"></i>
        Blog
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <button class="theme-toggle" title="Toggle dark/light mode">
          <i class="fas fa-moon dark-icon"></i>
          <i class="fas fa-sun light-icon"></i>
        </button>
      </div>
      <div class="navbar-item">
        <div class="select">
          <select id="language-selector">
            <option value="en">&#x1F1EC;&#x1F1E7; English</option>
            <option value="fr">&#x1F1EB;&#x1F1F7; Français</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</nav>