---
layout: default
---
<div class="container mt-5">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <article class="content">
        <header class="article-meta mb-5">
          <h1 class="title is-2">{{ page.title }}</h1>
          <div class="subtitle is-6 has-text-grey">
            <time>{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.author %}
              <span> • {{ page.author }}</span>
            {% endif %}
          </div>
          {% if page.tags %}
          <div class="tags mt-3">
            {% for tag in page.tags %}
              <span class="tag is-light">{{ tag }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </header>
        
        <div class="article-body">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>