@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.navbar-item {
    text-transform: capitalize;
    font-family: "Roboto Mono", monospace;
    font-size: larger;
}

.navbar-item i {
    margin-right: 8px; 
}

.navbar-brand {
    margin-right: 50px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    text-decoration: underline;
}

.navbar-burger {
    outline: none;
    box-shadow: none;
}

.navbar-burger:focus {
    outline: none;
    box-shadow: none;
}

#language-selector {
    outline: none;
    box-shadow: none;
}

.select:focus {
    outline: none;
    box-shadow: none;
}

.custom-language-selector {
    
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}


.custom-language-selector:hover {
    background-color: #e9ecef;
    border-color: #bbb;
}


.custom-language-selector:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Bulma navbar active item */
.navbar-item.active {
    background-color: #f5f5f5;
    color: #000;
}
