
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}


#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.container {
    background-color: #f8f9fa;
    border-radius: .375rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    opacity: 0.85;
}
h3 {
    font-weight: bold;
    color: #3998a8;
}
h4 {
    font-weight: bold;
    margin-top: 1.5rem;
    color: #000000;
}
p {
    font-size: 1.1rem;
}
.list-unstyled {
    padding-left: 1.2rem;
}
.list-unstyled li {
    margin-bottom: .5rem;
}

.list-unstyled li span {
    color: #1c53d3;
}



@media (min-width: 768px) {
.table-responsive {
    max-width: 900px; 
    margin: auto;
}
}


.btn {
    outline: none;
    box-shadow: none;
}